/* Importa fontes do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&family=Quicksand:wght@300..700&display=swap');

/* aplica box-sizing para incluir padding e border nas dimensões totais dos elementos */
* {
    box-sizing: border-box; /* larguras e alturas */
}

body {
    padding: 0; /* preenchimento */
    margin: 0;
    font-family: "Quicksand", sans-serif; /* define a fonte padrão */
}

header {
    background-color: #e83e8c; /* cor de fundo */
    height: 80px; /* altura */
    font-size: 60px; /* tamanho da fonte */
    color: white; /* cor do texto */
    display: flex; /* usa flexbox para layout */
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    font-family: "Playwrite HU", cursive; /* fonte específica para o cabeçalho */
}

.topo {
    display: flex; 
    width: 100%; 
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
}

.imagem {
    width: 37%; 
}

.texto1 {
    display: flex; 
    width: 35%; /* largura do bloco */
    flex-flow: row wrap; /* permite que os elementos se organizem em linhas */
}

.texto1 h1 {
    color: rgb(104, 104, 104); 
    letter-spacing: 5px; /* espaçamento entre letras */
    text-transform: uppercase; /* transforma o texto em maiúsculas */
    margin-top: 50px; 
}

.texto1 h2 {
    font-size: 80px; 
    color: #e83e8c; 
    font-weight: 800; /* espessura da fonte */
    margin-top: 10px; 
    margin-bottom: 30px; 
    line-height: 70px; 
}

.texto1 p {
    color: rgb(104, 104, 104); 
    font-weight: bold; /* negrito */
    font-size: larger; 
}

.btntopo {
    background-color: #e83e8c;
    padding: 15px 25px; 
    text-decoration: none; /* remove a linha debaixo do link */
    color: white; 
    border-radius: 5px; /* arredonda os cantos da borda */
    transition: 0.5s all; /* transição para todas as propriedades */
    margin-top: 30px; 
    margin-bottom: 30px; 
    font-weight: bold; /* negrito */
}


.btntopo:hover {
    background-color: #ac175c; /*cor de fundo ao passar o mouse */
}

.conteudo {
    display: flex; 
    width: 80%; 
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    margin-left: 10%; 
    flex-flow: row wrap; /* organiza os elementos em linhas */
}

.caixa {
    width: 30%;
    background-color: #fcc1dd; 
    height: 380px; 
    margin: 5px; 
    padding: 30px 20px; 
    text-align: center; 
    border-radius: 10px;
    font-size: larger;
    color: rgb(83, 83, 83); 
    font-weight: bold; /* negrito */
}

footer {
    background-color: #e83e8c; 
    height: 150px; 
    margin-top: 100px; 
    color: white; /*cor do texto */
    font-size: 22px; 
    display: flex; 
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
}

.titulo {
    color: rgb(104, 104, 104); 
    letter-spacing: 5px; 
    text-transform: uppercase; 
    margin-top: 50px; 
    text-align: center; 
    font-size: x-large; 
}

.conteudo2 {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    align-items: center; 
    font-size: medium; 
    flex-flow: row wrap; 
    margin-top: 30px; 
}


.container {
    display: flex; 
    align-items: center; 
    gap: 20px; /* espaço entre imagem e texto */
    width: 70%; 
    margin: auto; /*centraliza horizontalmente */
    border: 5px solid #e83e8c; 
    padding: 40px; 
    border-radius: 10px; 
    margin-top: 40px; 
}

.container img {
    width: 300px; 
    height: 300px;
}

.texto3 h2 {
    font-size: 80px; 
    color: #e83e8c;
    font-weight: 800; 
    margin-top: 10px; 
    margin-bottom: 30px;
    line-height: 70px; 
}

.texto3 p {
    color: rgb(104, 104, 104); 
    font-weight: bold; 
    font-size: larger;
}

.topo2 {
    display: flex;
    width: 100%; 
    justify-content: center; 
    align-items: center;
}

.imagem1 {
    margin-top: 50px; 
    width: 37%; 
}

.conteudo2 {
    display: flex;
    width: 80%; 
    justify-content: center;
    align-items: center; 
    margin-left: 10%; 
}


.caixa2 {
    width: 30%; 
    background-color: #fcc1dd; 
    height: 300px; 
    margin: 5px; 
    padding: 50px 40px; 
    text-align: center; 
    border-radius: 10px;
    font-size: larger; 
    color: rgb(83, 83, 83); 
    font-weight: bold; 
    margin-top: 30px; 
}


.caixa2 h1 {
    color: #e83e8c; 
    letter-spacing: 2px; 
    text-transform: normal; 
    margin-top: 5px; 
    font-size: x-large; 
}

.destacado {
    color: #e83e8c; 
}



